<h1>Login</h1>

<form method="POST" action="/auth/signup">
  <label
    >Username:
    <input type="text" name="username" required placeholder="username"
  /></label>
  <label
    >Password:
    <input type="password" name="password" required placeholder="password"
  /></label>
  <button type="submit">Login</button>
</form>
